

@media(min-width:1400px){
   
    .basic-collection .container , .staff .container , footer .container{
        max-width: 1400px;
    }
   
    
}
@media(min-width:1700px){
    .container{
        max-width: 1640px;
    }
}
@media(max-width:1200px){
    .slick-slide{
        margin: 0 auto!important;
    }
    .banner-2{
        margin-top: 50px;
    }
    .banner-2 img{
        display: block;
        margin: 0 auto;
    }
    .banner-2 h3{
        text-align: center!important;
        margin-top:70px;
    }
}
@media(max-width:992px){
    .sample{
        margin-top: 30%;
    }
    .sample img{
        max-width: 100%;
    }
    .cart-reponsive{
        width: 30px!important;
        height: 30px!important;
    }
    .bg-image{
        background-image: none!important;
        max-height: 1100px;
    }
    .basic-collection{
        margin-top:0px!important;
        max-height: 450px;
        background-position: top right;
    }
    .main-header{
        background-color: #f8f7f3;
    }
   
    .border-10{
        margin:0 auto;
    }
    .banner-6+h4{
        text-align: center!important;
    }
    .basic-collection .btn-bright-red{
        width:20%;
        font-size: 10px;
        
    }
    .badge-quantity{
        right:-10px;
        top: 0px;
    }
    .btn-usd + .dropdown-menu.show {
        display: block;
        left: 4%;
        top: 80%;
    }
    .btn-english + .dropdown-menu.show {
        display: block;
        left: 22%;
        top: 80%;
    } 
    .banner-4 img,.banner-5 img, .banner-6 img{
        display: block;
        margin:0 auto!important;
    }
   .sneaker-red {
       margin-top: 0;
   }
}
@media(max-width:768px){
    .basic-collection{
        max-height:370px!important;
        background-position: center right;
    }
    .basic-collection h2{
        font-size: 30px!important;
    }
    .basic-collection .fs-40{
        font-size: 15px;
    }
    .basic-collection .text-grey{
        font-size: 10px;
    }
}
